<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <title>Student Management App About Page</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1>Student <b class="highlight">Management</b> <span>App</span></h1>
            </div>
            <nav>
                <ul>
                     <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/students}">ManageStudents</a></li>
                    <li  class="current"><a th:href="@{/about}">About us</a></li>
                    <li><a th:href="@{/service}">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>

     <section id="heroSection">
        <div class="container">
            <h1 style="color: orange;">Welcome to the About Page</h1>
        </div>
        <section id="main">
            <div class="container">
                <article id="main-col">
                    <h1 class="page-title">About us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Accusamus odit illum sed harum 
                        facilis quia impedit reprehenderit cum dignissimos
                         distinctio. Incidunt cum totam quibusdam tempore
                          amet
                         nulla sed repellendus ratione?
                        </p>
                        <div class="dark">
                            <p>Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. 
                                Sed suscipit corrupti doloribus fuga 
                                voluptatem beatae, nisi totam aliquam deserunt 
                                iusto nulla repudiandae perferendis veniam,
                                ipsam consequuntur voluptatibus ad,
                                molestiae odio.
                            </p>
                        </div>
    
                </article>
                
                <aside id="sidebar">
                    <div class="dark">
                        <h3>What we do</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur 
                            adipisicing elit. Tempore totam rerum provident
                            voluptate cum! Error veritatis debitis,
                            hic placeat impedit doloremque tempora velit voluptatibus
                            ipsum ex eaque laboriosam aliquam eos.</p>
                        </div>
    
                </aside>
                
            </div>
        </section>
    </section>


    <footer>
        <p>Okeke Chisom Student Management App, &copy copyright </p>
    </footer>


    
     </body>
</html>
       